/backend/node_modules/
/backend/package-lock.json
/backend/database/


/myapp/node_modules/
/myapp/.expo/
/myapp/dist/
/myapp/npm-debug.*
/myapp/*.jks
/myapp/*.p8
/myapp/*.p12
/myapp/*.key
/myapp/*.mobileprovision
/myapp/*.orig.*
/myapp/web-build/
/.idea/
/tests
# macOS
/myapp/.DS_Store